.content h3 a{ color: #212121;}
.content h3 a:hover{color: #f26552;}
s{background: url(../image/icon.png) no-repeat;}

.recom{min-width: 1000px; background: url(../image/bg.gif) no-repeat center top;}
.recomWrap{width: 1000px; height: 302px; margin: 0 auto; padding-top: 30px;  text-align: center;}
.recom .title{overflow: hidden;}
.recom .title a{color: #fff; font-weight: 300; max-width: 704px; font-size: 24px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis; margin: 0 auto; display: block; padding: 6px 0;}
.recom .title a:hover{color: #f26552;}
.recom .title p{max-width: 516px; height: 20px; font-size: 16px; color: #FFF; padding-top: 10px; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis; margin: 0 auto; opacity: 0.3;} 
.book{width: 1000px; height: 240px; position: relative;}
.book_wrap{padding-top: 26px; position: absolute; left: 50%; margin-left: -315px; width: 629px; height: 194px; overflow: hidden; *overflow: hidden;}
.book ul{width: 3500px; overflow: hidden;}
.book ul li{float: left; width: 126px; height: 168px; margin: 0 18px;}
.book ul li img{width: 117px; height: 156px;margin-top: 5px;}
.book s{cursor: pointer; opacity: 0.6;}
.book s:hover{opacity: 1;}
.book .btnLeft{width: 25px; height: 25px; background-position: 0 -16px; position: absolute; left: 0; top: 100px;}
.book .btnRight{ width: 25px; height: 25px; background-position: 0 -42px; position: absolute; right: 0; top: 100px;}

.book ol{width: 70px; height: 8px; position: absolute; left: 470px; bottom: 15px;}
.book ol li{float: left; width: 8px; height: 8px; border-radius: 50%; background: #d2d2d2; opacity: 0.2; margin: 0 3px; cursor: pointer;}
.book ol .cirOn{opacity: 1;}


.content{width: 1000px; overflow: hidden; margin: 0 auto; }


.pubBook{overflow: hidden;}
.conBigTitle{width: 1000px; text-align: center; padding: 44px 0 30px 0;}
.conBigTitle h2{font-size: 26px; color: #212121; height: 36px;}
.conBigTitle p{color: #9e9e9e;}
.conBigTitle p a{ margin: 0 4px;}

.show{width:1000px; height: 526px; background: #FFF; position: relative;}
.show .sign{width: 63px; height: 63px; background-position: -26px 0; position: absolute; left: 0; top: 0;}
.show .showLeft{width: 246px; height: 481px; padding: 45px 56px 0; float: left;}
.show .showLeft h3{width: 246px; height: 22px; font-size: 20px; font-weight: 300; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis; color: #212121;} 
.show .showLeft .author{margin: 10px 0 20px 0;}
.show .showLeft .introduce{ width: 246px;  height: 64px; overflow: hidden; margin-bottom: 94px; line-height: 16px; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 4; -webkit-box-orient: vertical;  position:relative;}

.show .showLeft span{width: 158px; height: 190px; float: right;  position: relative;}
.show .showLeft img{position: absolute; z-index: 1;}
.show .showLeft .bookCover{width: 156px; height: 208px; }
.show .showLeft .shadow{position: absolute; right: -20px; bottom:-20px; z-index: 0}
.show .showMid{float: left;  width: 358px; border-left: 1px solid #f0f0f0; box-sizing: border-box;}
.show .showMid li{float: left; width: 101px; padding: 40px 38px 42px; border-right: 1px solid #f0f0f0;}
.show .showMid li img{width: 102px; height: 136px;}
.show .showMid li p{width: 104px; height: 20px; overflow: hidden;}
.pubBook .showMid li p{width: 104px; height: 20px; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}
.pubBook .showMid li .bookName{color: #212121;}
.show .showMid li p a{color: #212121;}
.show .showMid li p a:hover{color: #f26552;}
.show .showMid .tb{border-top: 1px solid #f0f0f0;}

.show .showRight{float: left; width: 253px; padding: 28px 0 0 30px;}
.show .showRight h3{width: 228px; height: 30px; font-size: 20px; color: #f26552; position: relative; padding-left: 28px; font-weight: 300;} 
.show .showRight .crown{width: 21px; height: 18px; background-position: 0px -68px; float: left; position: absolute; left: 0; top:2px;}
.show .showRight li,.show .showRight dl{overflow: hidden;}
.show .showRight .open{padding-top: 16px;}
.show .showRight dl dt{float: left; text-align: right; width: 10px; margin-right: 18px;}
.show .showRight dl dd{float: left; border-bottom: 1px solid #f0f0f0; width: 200px;}
.show .showRight .open dd .bookPic{width: 63px; height: 84px; display: block;  border: 1px solid #f0f0f0; float: left; margin: 0 16px 16px 0;}
.show .showRight li .bookPic img{width: 63px; height: 84px;}
.show .showRight .open dd .bookCon{float: left; }
.show .showRight .open dd .bookCon .num{font-size: 12px; font-family: arial;}
.show .showRight .open dd .bookCon p{color: #212121;  width: 100px; max-height: 32px; line-height: 16px;  text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.show .showRight .open dd .bookCon p a{color: #212121;}
.show .showRight .open dd .bookCon p a:hover{color: #f26552;}
.show .showRight dl dd s{float: left; width: 14px; height: 9px; background-position: -86px -73px; margin: 6px 6px 0 0;}
.show .showRight .close dd{width: 200px; height: 35px; line-height: 35px;}
.show .showRight .close dt{line-height: 35px;}
.show .showRight .close dd .bookName{width: 130px; height: 24px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis; float: left;}
.show .showRight .close dd .num{float: right;  font-size: 12px; font-family: arial; float: left; margin-left: 10px}
.show .showRight .close dd s{margin-top: 12px;}
.show .showRight li .open{display: none;}
.show .showRight .onShow .open{display: block;}
.show .showRight .onShow .close{display: none;}


.cirShow{ background: #fff; overflow: hidden;}
.cirBig{ width: 1000px; height: 292px; border-bottom: 1px solid #f0f0f0;}
.cirBig .middle{  border-left: 1px solid #f0f0f0;  border-right: 1px solid #f0f0f0; width: 331px;}
.cirBig li{width: 333px;   height: 242px; float: left; text-align: center; padding-top: 50px;}
.cirBig .cirHead{width: 80px; height: 80px; border-radius: 50%; position: relative;}
.cirBig .cirHead .fire{width: 24px; height: 24px; position: absolute; right: 0; top: 0; background-position: -23px -66px;}
.cirBig .cirHead img{width: 100%; height: 100%; border-radius: 50%; -ms-border-radius: 50%; -webkit-border-radius: 50%;}
.cirBig li h3{font-size: 18px; width: 242px; height: 20px; overflow: hidden; margin: 16px auto 8px; color: #212121; white-space: nowrap; text-overflow: ellipsis;}
.cirBig li .little{ width:226px; height: 32px; line-height: 16px; overflow: hidden; margin: 0 auto; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.cirBig li .attent{margin-top: 20px;}
.cirBig li .attent s{float: left; width: 17px; height: 18px; background-position: -49px -68px; margin: 0 8px 0 10px;}
.cirBig li .attent i{float: left; font-size: 14px;}
.cirBig li .attent .cards{background-position: -68px -68px; }
.cirLittle{padding: 0 40px; height: 129px;}
.cirLittle li{width: 162px; padding: 30px 0 0 22px; overflow: hidden; float: left;}
.cirLittle li .litHead{width: 60px; height: 60px; border-radius: 50%; float: left;}
.cirLittle li h3{color: #212121;  width: 64px; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.cirLittle li .litHead img{width: 100%; height: 100%; border-radius: 50%;}
.cirLittle li .bookCon{float: left; padding-left: 10px;}
.cirLittle li h3{font-size: 16px; margin-bottom: 2px;}
.cirLittle li .bookCon .fans{float: left; width: 14px; height: 14px; background-position: -50px -99px; margin: 3px 4px 0 0;}
.cirLittle li .bookCon p{ height: 18px; font-size: 12px;}
.cirLittle li .bookCon .cards{float: left; width: 14px; height: 15px; background-position: -70px -99px; margin: 4px 4px 0 0;}


.zwtit{padding: 22px 0 0 0; text-align: center;}
.zwtit img{width: 149px; height: 29px;}
.zwqz{display: block;}
.zwqz li .bookCon{padding: 8px 0 0 10px;}


.dif_Area .showMid{padding-top: 0;}
.dif_Area .showMid li{width: 141px; padding: 26px 18px 26px; overflow: hidden; border-right: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0;}
.dif_Area .showMid .noBorder{border-bottom: none;}
.dif_Area .showMid li h3{border-bottom: 1px solid #f0f0f0; padding-bottom: 4px; width: 142px; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #212121;}

.dif_Area .showMid li p{width: 142px; }
.dif_Area .showMid li .name{margin: 6px 0 10px;}
.dif_Area .showMid li .name i{float: left; max-width: 95px;max-height: 20px; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;}
.dif_Area .showMid li .name span{float: right; padding: 0 4px; color: #fff; font-size: 10px;}
.dif_Area .showMid li .name .red{background: #ff5252;}
.dif_Area .showMid li .introduce{width: 142px; height: 62px; overflow: hidden; line-height: 16px; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 4; -webkit-box-orient: vertical;}
.dif_Area .showMid li .introduce a{color: #9e9e9e;}
.dif_Area .showMid li .name .blue{background:#00bcd4;}
.dif_Area .showMid li .name .green{background: #8bc34a;}
.dif_Area .showMid li .name .purple{background: #e91e63;}